.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
  max-height: 500px;
}

.col__50 {
  width: 50%;
}

.home__header {
  font-size: 2.5rem;
  font-weight: 100;
}

.home__header--bold {
  font-weight: 800;
}

.home__paragraph {
  margin: 40px 0px;
  font-size: 1.2rem;
}

.home__btn {
  background-color: lightcoral;
  padding: 20px 80px;
  border-radius: 40px;
  text-decoration: none;
  font-size: 1.3rem;
}

.home__right {
  text-align: center;
}

.home__img {
  height: 300px;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .home {
    height: auto;
    flex-direction: column;
    max-height: none;
    margin-top: 30px;
    text-align: center;
  }

  .col__50 {
    width: auto;
  }

  .home__left {
    margin-bottom: 50px;
  }

  .home__img {
    height: 200px;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .home {
    height: auto;
    max-height: auto;
    flex-direction: column;
  }

  .col__50 {
    width: 100%;
  }

}