.navigation__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navigation__header {
  font-size: 3rem;
  letter-spacing: 1px;
}

.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
}

.navigation__item {
  margin-right: 30px;
  color: var(--primaryText);
  cursor: pointer;
}

.navigation__item:hover {
  border-bottom: 3px solid white;
  transition: 0.2s;
}