.navigation__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navigation__header {
  font-size: 3rem;
}

.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
}

.navigation__item {
  margin-right: 30px;
  color: var(--primaryText);
  cursor: pointer;
}

.navigation__item:hover {
  border-bottom: 3px solid white;
  transition: 0.2s;
}

@media (min-width: 481px) and (max-width: 767px) {

  .navigation__list {
    font-size: 0.9rem;
  }

  .navigation__item {
    margin-right: 10px;
  }

}

@media (min-width: 320px) and (max-width: 480px) {

  /* .navigation__list {
    font-size: 1.1rem;
  }

  .navigation__item {
    margin-right: 10px;
  } */

  .navigation__list {
    font-size: 0.9rem;
  }

  .navigation__item {
    margin-right: 10px;
  }

}