.relax {
  height: 80vh;
}

.article {
  top: 45%;
}

.article__header {
  margin: 0 14%;
  text-align: center;
}

.article__author {
  margin: 0 14%;
  text-align: center;
}

.audio {
  position: absolute;
  bottom: 0px;
  width: 90%;
}

@media (min-width: 481px) and (max-width: 767px) {

  .article {
    top: 35%;
  }

}